{% extends 'base.html' %}

{% block title %} Cascarrabia - Productos {% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="m-2">
  {% for message in messages %}
    {% if message[0] == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% else %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% endif %}
      <li style="list-style-type: none;">{{ message[1] }}</li>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h2 class="text-center m-2 p-4">Productos</h2>
<div class="m-2">
    <a href="{{ url_for('product.create') }}"
        ><i class="material-icons bg-primary rounded-circle text-white p-2"
        >add</i
        ></a
    >
</div>
<div class="m-auto">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
          {% if products %}
            {% for product in products %}
            <tr>
                <td scope="row">{{ products[product].nombre }}</td>
                <td scope="row">${{ products[product].precio }}</td>
                <td scope="row">{{ products[product].categoria }}</td>
                <td>
                    <a
                      href="{{ url_for('product.edit', id=product) }}"
                      class="btn btn-sm btn-warning"
                      >Editar</a
                    >
                    <a
                      href="{{ url_for('product.delete', id=product) }}"
                      class="btn btn-sm btn-danger"
                      >Borrar</a
                    >
                    <a
                      href="{{ url_for('product.details', id=product) }}"
                      class="btn btn-sm btn-success"
                      >Detalles</a
                    >
                  </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>   
    {% if not products %}
      <p class="alert alert-danger">¡No hay productos cargados!</p>
    {% endif %}
</div>
{% endblock %}